<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <title>{% block title %} {% endblock %}</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'products/css/style.css' %}">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'products/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'products/css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'products/css/jquery.mCustomScrollbar.min.css' %}">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'products/css/owl.carousel.min.css' %}">
  <link rel="stylesoeet" href="{% static 'products/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen">
  {% block css %}
  <link rel="showcasing icon" href="/media/a/laundry.png">
  {% endblock %}
</head>

<body style="background-color: #eee;">
  <div class="banner_bg_main"></div>
  <div class="container">
    <div class="header_section_top">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom_menu">
            <ul>
              <li ><a href="/dashboard/"><img style="height:30px;" src="/media/a/laundry.png"></a></li>
              <li><a href="/dashboard/">Home</a></li>
              <li><a href="/seller_login/">Seller Login</a></li>
              <li><a href="/Customer_login/">Customer Login</a></li>
              <li><a href="/user_registration/">Register As Customuser</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block body %}

  {% endblock %}
  
  
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->
</body>

{% block js %}
<script src="{% static 'products/js/jquery.min.js' %}"></script>
<script src="{% static 'products/js/popper.min.js' %}"></script>
<script src="{% static 'products/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'products/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'products/js/plugin.js' %}"></script>
<!-- sidebar -->
<script src="{% static 'products/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'products/js/custom.js' %}"></script>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
{% endblock %}

</html>